.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    margin-left: 100px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
h3 {
    display: inline-block;
    margin: 0;
}

.form-rounded {
    border-radius: 1rem;
}

.mar10{
    margin-top: 10px;
    margin-left: 155px;
}
